body{
    background-color: rgb(177, 36, 177);
}

.container{
    position: relative;
}

/* grid */

#grid{
    height: 700px;
    width: 700px;
    animation: scaleUP .2s linear;
    user-select: none;
}

#alert-mess{
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUPandBack .6s linear;
}

#alert-mess > *{
    font-weight: 800;
    font-size: 40px;
}

.cell{
    border: 2px solid white;
    color: white;
    height: calc(100% / 10);
    width: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* utils */

.cell.clicked{
    background-color: blue;
    cursor: not-allowed;
}

.cell.hw-9{
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.cell.hw-7{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.cell.bomb{
    background-color: red!important;
}

/* animations */

@keyframes scaleUP {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes scaleUPandBack {
    0%{
        transform: translate(-50%, -50%) scale(0);
    }

    50%{
        transform: translate(-50%, -50%) scale(1.5);
    }

    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}